@font-face {
    font-family: 'savateregular';
    src: url('savate-regular-webfont.eot');
    src: url('savate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('savate-regular-webfont.woff2') format('woff2'),
         url('savate-regular-webfont.woff') format('woff'),
         url('savate-regular-webfont.svg#savateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
  font-family: savateregular;
  font-size: 18px;
  margin-bottom: 8px;
}

h1 {
  font-family: savateregular;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-family: savateregular;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
}

h3{
  font-family: savateregular;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#enonce {
  flex: 1;
  font-size: 20px;

}

#enonce p {
  margin: 30px 0 30px;
}

.herbeshautes {
  position: absolute; left: 50%;
  width: 450px;
  height: auto;
}

.imagecontainer2 {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}

.videocontainer {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}

.imageriviere {
  display: flex;
  width: 90%;
  height: auto;
}

.imagecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageaccueil {
  display: flex;
  width: 40%;
  height: auto;
  margin-top: 50px;
}

.imagecontainer3 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.imagegagnante {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 130px;
}


.imagecontainer4 {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerleft {
  display: flex;
}

.headerright{
  display: flex;
}

.logotype {
  height: 90px;
  width: 90px;
}

.menu a {
  font-size: 20px;
  font-family: savateregular;
  text-decoration: none;
  color: black;
}

.bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.bouton input {
  color: black;
  font-size: 20px;
  background-color: white;
  border-color: #6dbce8;
  font-family: savateregular;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  border-width: 2px;
  text-decoration: none;

}

.imageco {
  width: 20%;
  height: auto;
  margin-top: 40px;
}

.containerimgprofil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boutoncreercompte {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}

.boutoncreercompte input {
  color: black;
  font-size: 20px;
  background-color: white;
  border-color: #6dbce8;
  font-family: savateregular;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border-width: 2px;
  text-decoration: none;
}


.bouton2 {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  text-decoration: none;
}

.bouton2 input {
  color: black;
  font-size: 20px;
  background-color: white;
  border-color: #6dbce8;
  font-family: savateregular;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  border-width: 2px;
  text-decoration: none;

}

.barre {
  margin-top: 54px;
}

.headerpadding {
  padding: 0px 30px 0px 20px;
}

.enonceimagecontainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}


.section-content-block {
  padding: 2em;
}

#proposition{
  display: flex;
  justify-content:center;
  align-items: center;
  padding-right: 10em;
  padding-left: 8em;
}
.wrapper {
  font-family: savateregular;
  display: flex;
}

.right-column {
  display:flex;
}

.left-column {
  display: flex;
}
